@import url('https://fonts.googleapis.com/css2?family=Covered+By+Your+Grace&family=Raleway:ital,wght@0,100;0,400;0,500;1,100;1,400;1,500&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: whitesmoke;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-style: italic;
}

.header {
    height: 400px;
    background-image: url('./Images/coffee-bgnd.jpeg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

h1 {
    font-family: 'Covered By Your Grace', cursive;
    font-style: normal;
    font-size: 100px;
    color: rgba(3, 150, 100, .75);
    padding-top: 120px;
    text-align: center;
}

.column-container {
    column-count: 3;
    column-gap: 20px;
}

.column > div {
    margin: 100px 0;
    border-bottom: 1px solid #e4bb97;
    padding-bottom: 60px;
    height: 150px;
    overflow-y: auto;
}

.main div > p {
    text-align: justify;
    line-height: 1.5;
    text-indent: 30px;
    padding: 0 5px;
    color: #454;
    font-weight: 600;
}

h2 {
    text-align: center;
}
